@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Larrseit";
    src: url("../fonts/Larsseit-Light.woff2") format("woff2"),
    url("../fonts/Larsseit-Light.woff") format("woff");
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Larrseit";
    src: url("../fonts/Larsseit-Medium.woff2") format("woff2"),
    url("../fonts/Larsseit-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Larrseit";
    src: url("../fonts/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit-Bold.woff2") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}